.containerFieldDefault{
border: none;
display: flex;
flex-direction: column;
gap: 8px;

}

.labelDefault{
    font-size: 1.4em;
    font-weight: 400;
}

.inputDefault{
    border: none;
    border-radius: 6px;
    padding: 8px;
    background-color: #eeeeee;
    transition: 0.6s all ease-in-out;
    padding: 12px;
}

.inputDefault:focus{
    outline: none;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 768px) {
    .containerFieldDefault{
        width: 80%;
    }

    .inputDefault{
        height: 30px;
    }
}