.containerFormLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.containerFormImage{
    width: 50%;
}

.containerFormImage img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    border-radius: 8px 0px 0px 8px;
}

.containerForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.textForm{
    font-size: 2em;
}


@media (max-width: 768px) {
    .containerFormLogin{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerFormImage{
        display: none;
    }

    .containerForm{
        width: 100%;
    }
}