.containerProductList{
    height: 100vh;
}

.categoryList{
    display: flex;
    gap: 15px;
    padding: 12px 0px;
}

.categoryList span{
    cursor: pointer;
    padding: 2px 6px;
    transition: 0.6s all ease-in-out;
}

.categoryMenuItem{
    text-decoration: underline;
    color: rgb(88, 88, 88);
}

.categoryMenuItemActive{
    text-decoration: none;
    color: black;
}

.productList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    gap: 16px;

    width: 100%;
    max-height: 90%;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 8px;
    box-sizing: border-box;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.productList::-webkit-scrollbar{
    display: none;
}
